@media screen and (max-width: 1199px){
    .overlay{
        display: none;
    }
    }


@media screen and (min-width: 480px) {


.section-portfolio{
    margin-right: auto;
    margin-left: auto;
    padding-top: 96px;
    background-color: var(--primary-white-color);
}
.container-portfolio{
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    display:block;
}
.nav-buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    margin-bottom: 48px;
    margin-top: 24px;
}
.nav-button:hover,
.nav-button:focus {
  background-color: var(--accent-color);
  box-shadow: var(--card-shadow-portfolio);

  color: var(--primary-white-color);
}
.nav-button {
  border-color: transparent;
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  background-color: var(--our-team-white);
  color: var(--accent-color);
  padding: 12px 24px;
  transition: background-color var(--transition-speed),
    color var(--transition-speed), box-shadow var(--transition-speed);
}
.nav-projects{
    display: block;
    flex-wrap: wrap;
    gap: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}
.nav-projects> .li {
    background-color: var(--primary-white-color);
    /* flex-basis: calc((100% - 2 * 24px) / 3); */
    background: var(--primary-white-color);
    box-shadow: var(--card-shadow);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 48px;
    max-width: 396px;
    margin-left: auto;
    margin-right: auto;
  }
  /* For PC
  .project-link:hover,
  .project-link:focus {
    box-shadow: var(--card-projects-portfolio);
  }
  .project-link {
    display: block;
    text-decoration: none;
    /* transform: translateY(-100%) var(--transition-speed); */
    /* transition: box-shadow var(--transition-speed); */
  }




  .project-link:hover .overlay,
.project-link:focus .overlay {
  transform: translateY(0);
}

.box{
    position: relative;
  overflow: hidden;
}
.overlay{
    position: absolute;
    display: flex;
    align-items: center;
    padding: 63px 24px;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--box-overlay-color);
    transform: translateY(100%);
  
    transition: transform var(--transition-speed); 
}
.overlay-text{
    color: var(--primary-white-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}  

.gallery-desk {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-left: 1px solid var(--solid-white-color);
    border-bottom: 1px solid var(--solid-white-color);
    border-right: 1px solid var(--solid-white-color);
    border-top: none;
  }

  .project {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    margin-bottom: 8px;
  }
  .project-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-grey-color);
  }



.image{
width:100%;
height:100%;
}
/* for tablet
.image{
    width: 356px;
    height:300px;
    } */
/* for pc
.image{
    width:360px;
    height:300px;
    } */




@media screen and (min-width: 480px) {
    .container-portfolio{
        max-width: 428px;
    }

    .image{
        width:396px;
        height:280px;
        }





}
